.font-family {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: teal;
  text-align: center;
}

body main {
  background-color: white;
  width: 100%;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0.2rem skyblue;
}
